@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: sans-serif;
}

.gradient {
	background: linear-gradient(90deg, #1d3557 0%, #7ad7da 100%);
}

.bg-green-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(220 252 231 / var(--tw-bg-opacity));
}

.text-green-800 {
    --tw-text-opacity: 1;
    color: rgb(22 101 52/var(--tw-text-opacity));
}

.text-indigo-800 {
    --tw-text-opacity: 1;
    color: rgb(55 48 163/var(--tw-text-opacity));
}

.bg-indigo-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(224 231 255/var(--tw-bg-opacity));
}